
*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

.hub-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    height: 400px;
}

.jide-img{
    width: 30%;
    height: 250px;
    float: left;


}

.jide-text{
width: 70%;
float: left;
color: #33475b;
}

.last-part{
    color: #33475b;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
    font-size: 20px;
    margin-left: 30%;
    margin-right: 5%;

}
.contact-infos{
    text-align: center;
    justify-content: space-between;
}

.words{
    padding-top: 30px;
    line-height: 24px;
}

/* new work */
.section {
    width: 100%;
    display: flex;
}

.jide-image {
    width: 400px;
}

.box {
    margin: 30px;
    margin-top: 5px;
    padding: 50px;
    line-height: 2rem;
}

.second-container {
    margin: 30px;
}

.box-paragraph {
    margin-top: 20px;
}

.contact-infos {
    display: flex;
    text-align: center;
}


.top-head{
    color: blue;
    width: 30%;
}

.korede-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.korede-image{
    width:50%;
    float: left;
}

.korede-text{
    width: 50%;
    float: left;
    font: normal 16px helvetica, Arial, Sans-serif
}
   
    .Learn-button{
        background: rgb(94, 200, 235);
        border-radius: 3px;
        border: none;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
        padding-right: 5px;
        transition: 0.15s;
    }

    .Learn-button:hover{
        cursor: pointer;
        opacity: 0.8;
        ;
    }



.wrapper{
    display: flex;
    background-color: #fc5a34;
    color: #fff;
    padding-left: 40px;
    font-family: Queens Medium,serif;
    margin-top: 5px;
}

.header-1 {
    font-family: verdana;
    font-weight: 600;
}

.header-2 {
    font-size: 50px;
    line-height: 1.1;
    padding-top: 0px;
}

.paragraph {
    line-height: 1.28rem;
    font-family: Verdana;
}

.fuja-button {
    background-color: #fff;
    border: none;
    font-size: 1.125rem;
    line-height: 1.78;
    padding: 1rem 2.5rem;
    font-weight: 600;
    color: #2e475d;
}

.paragraph-2 {
    font-family: verdana;
}

.fuja-img {
    margin-top: 40px;
    width: 600px;
    position: absolute;
    margin-right: 30px;
}