.hub-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    height: 400px;
}

.jide-img{
    width: 30%;
    height: 250px;
    float: left;


}

.jide-text{
width: 70%;
float: left;
color: #33475b;
}

.last-part{
    color: #33475b;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
    font-size: 20px;
    margin-left: 30%;
    margin-right: 5%;

}
.contact-info{
    text-align: center;
}